.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.height-100vh {
  height: 100vh;
}

.height-120px {
  height: 120rpx;
}
.height-150px {
  height: 150rpx;
}
.height-180px {
  height: 180rpx;
}
.height-200px {
  height: 200rpx;
}
.height-220px {
  height: 220rpx;
}
.height-250px {
  height: 250rpx;
}
.height-300px {
  height: 300rpx;
}
.height-30px {
  height: 30rpx;
}
.height-32px {
  height: 32rpx;
}
.height-34px {
  height: 34rpx;
}
.height-36px {
  height: 36rpx;
}

.height-40px {
  height: 40rpx;
}
.height-44px {
  height: 44rpx;
}
.height-48px {
  height: 48rpx;
}

.height-650px {
  height: 650rpx;
}

.minheight-600px{
  min-height: 600rpx;
}
.minheight-300px{
  min-height: 300rpx;
}

