.margin-all-5px {
  margin: 5rpx;
}

.margin-all-10px {
  margin: 10rpx;
}

.margin-top-5px {
  margin-top: 5rpx;
}

.margin-top-10px {
  margin-top: 10rpx;
}

.margin-bottom-5px {
  margin-bottom: 5rpx;
}

.margin-bottom-10px {
  margin-bottom: 10rpx;
}

.margin-left-5px {
  margin-left: 5rpx;
}

.margin-left-10px {
  margin-left: 10rpx;
}

.margin-right-5px {
  margin-right: 5rpx;
}

.margin-right-10px {
  margin-right: 10rpx;
}

.margin-all-15px {
  margin: 15rpx;
}

.margin-top-15px {
  margin-top: 15rpx;
}

.margin-bottom-15px {
  margin-bottom: 15rpx;
}

.margin-left-15px {
  margin-left: 15rpx;
}

.margin-right-15px {
  margin-right: 15rpx;
}

.margin-all-22px {
  margin: 22rpx;
}

.margin-top-22px {
  margin-top: 22rpx;
}

.margin-bottom-22px {
  margin-bottom: 22rpx;
}

.margin-left-22px {
  margin-left: 22rpx;
}

.margin-right-22px {
  margin-right: 22rpx;
}

.margin-all-8px {
  margin: 8rpx;
}

.margin-top-8px {
  margin-top: 8rpx;
}

.margin-bottom-8px {
  margin-bottom: 8rpx;
}

.margin-left-8px {
  margin-left: 8rpx;
}

.margin-right-8px {
  margin-right: 8rpx;
}
.margin-all-20px {
  margin: 20rpx;
}

.margin-top-20px {
  margin-top: 20rpx;
}

.margin-bottom-20px {
  margin-bottom: 20rpx;
}

.margin-left-20px {
  margin-left: 20rpx;
}

.margin-right-20px {
  margin-right: 20rpx;
}

.margin-all-25px {
  margin: 25rpx;
}

.margin-top-25px {
  margin-top: 25rpx;
}

.margin-bottom-25px {
  margin-bottom: 25rpx;
}

.margin-left-25px {
  margin-left: 25rpx;
}

.margin-right-25px {
  margin-right: 25rpx;
}
.margin-all-25px {
  margin: 25rpx;
}

.margin-top-26px {
  margin-top: 26rpx;
}

.margin-bottom-26px {
  margin-bottom: 26rpx;
}

.margin-left-26px {
  margin-left: 26rpx;
}

.margin-right-26px {
  margin-right: 26rpx;
}

.margin-all-30px {
  margin: 30rpx;
}

.margin-top-30px {
  margin-top: 30rpx;
}

.margin-bottom-30px {
  margin-bottom: 30rpx;
}

.margin-left-30px {
  margin-left: 30rpx;
}

.margin-right-30px {
  margin-right: 30rpx;
}
.margin-top-32px {
  margin-top: 32rpx;
}

.margin-bottom-32px {
  margin-bottom: 32rpx;
}

.margin-left-32px {
  margin-left: 32rpx;
}

.margin-right-32px {
  margin-right: 32rpx;
}
.margin-all-40px {
  margin: 40rpx;
}

.margin-top-40px {
  margin-top: 40rpx;
}

.margin-bottom-40px {
  margin-bottom: 40rpx;
}

.margin-left-40px {
  margin-left: 40rpx;
}

.margin-right-40px {
  margin-right: 40rpx;
}
.margin-all-50px {
  margin: 50rpx;
}

.margin-top-50px {
  margin-top: 50rpx;
}

.margin-bottom-50px {
  margin-bottom: 50rpx;
}

.margin-left-50px {
  margin-left: 50rpx;
}

.margin-right-50px {
  margin-right: 50rpx;
}
.margin-top-52px {
  margin-top: 52rpx;
}

.margin-bottom-52px {
  margin-bottom: 52rpx;
}

.margin-left-52px {
  margin-left: 52rpx;
}

.margin-right-52px {
  margin-right: 52rpx;
}
.margin-all-60px {
  margin: 60rpx;
}

.margin-top-60px {
  margin-top: 60rpx;
}

.margin-bottom-60px {
  margin-bottom: 60rpx;
}

.margin-left-60px {
  margin-left: 60rpx;
}

.margin-right-60px {
  margin-right: 60rpx;
}
.margin-all-66px {
  margin: 66rpx;
}

.margin-top-66px {
  margin-top: 66rpx;
}

.margin-bottom-66px {
  margin-bottom: 66rpx;
}

.margin-left-66px {
  margin-left: 66rpx;
}

.margin-right-66px {
  margin-right: 66rpx;
}
.margin-all-70px {
  margin: 70rpx;
}

.margin-top-70px {
  margin-top: 70rpx;
}

.margin-bottom-70px {
  margin-bottom: 70rpx;
}

.margin-left-70px {
  margin-left: 70rpx;
}

.margin-right-70px {
  margin-right: 70rpx;
}
.margin-top-80px {
  margin-top: 80rpx;
}

.margin-bottom-80px {
  margin-bottom: 80rpx;
}

.margin-left-80px {
  margin-left: 80rpx;
}

.margin-right-80px {
  margin-right: 80rpx;
}
.margin-all-110px {
  margin: 110rpx;
}
.margin-top-110px {
  margin-top: 110rpx;
}

.margin-bottom-110px {
  margin-bottom: 110rpx;
}

.margin-left-110px {
  margin-left: 110rpx;
}

.margin-right-110px {
  margin-right: 110rpx;
}

.margin-all-12px {
  margin: 12rpx;
}
.margin-top-12px {
  margin-top: 12rpx;
}

.margin-bottom-12px {
  margin-bottom: 12rpx;
}

.margin-left-12px {
  margin-left: 12rpx;
}

.margin-right-12px {
  margin-right: 12rpx;
}

.margin-all-24px {
  margin: 24rpx;
}
.margin-top-24px {
  margin-top: 24rpx;
}

.margin-bottom-24px {
  margin-bottom: 24rpx;
}

.margin-left-24px {
  margin-left: 24rpx;
}

.margin-right-24px {
  margin-right: 24rpx;
}


.margin-all-140px {
  margin: 140rpx;
}
.margin-top-140px {
  margin-top: 140rpx;
}

.margin-bottom-140px {
  margin-bottom: 140rpx;
}

.margin-left-140px {
  margin-left: 140rpx;
}

.margin-right-140px {
  margin-right: 140rpx;
}
